In [11]:
x = 1
y = 2
z = sum([x,y])
z

3

In [4]:
print("X= ",x," Y= ",y)

X=  1  Y=  2

In [12]:
print("x = {0} and y = {1} and z={2}".format(x,y,z))

x = 1 and y = 2 and z=3

In [13]:
# number integer and float
# string
# complex
5+1j

(5+1j)

- start with character or _
- not to be reserved words
- not to be numbers 
- not to start with number
- not to contain special characters
- not to contain spaces
- case senstive

In [14]:
_name = "ahmed"
_name

'ahmed'

In [21]:
x = 1
y = 1.2
z = "1"

In [16]:
float(x)

1.0

In [17]:
str(x)

'1'

In [18]:
int(y)

1

In [22]:
round(y)

1

In [20]:
int(z)

1

In [26]:
x = 10
y = 5

In [27]:
x+y

15

In [28]:
x-y

5

In [29]:
x*y

50

In [30]:
x/y

2.0

In [31]:
x**y

100000

In [33]:
import math
math.sqrt(x**y)

316.22776601683796

In [34]:
x%y

0

In [38]:
6%5 # Modulus

1

In [39]:
x//y # floor division

2

In [37]:
13//2

6

In [42]:
x +=1 
x = x+1

In [43]:
x *=2
x /=2
x %=2

In [51]:
x = 13
x

13

In [48]:
x%=2
#x = x%2

In [49]:
x

1

In [52]:
x//=3
x

4

In [53]:
x **=3

In [54]:
x

64

In [55]:
x == y

False

In [56]:
x!= y

True

In [63]:
print(x>=y,x)

True 64

In [59]:
if x>=y:
    print("test")

test

In [67]:
z = x>y
w = x<y

In [65]:
#and or not

In [72]:
print(z,w)

True False

In [71]:
z or w

True

In [85]:
z = not(z)
z

True

In [82]:
not(z or w)

True

In [81]:
z,w

(False, False)

In [87]:
z,w

(True, False)

In [86]:
z is w

False

In [89]:
z is not w

True

In [93]:
x = "ahmed"
y = "Mohamed"

x not in y

True

In [94]:
x =  True
y = False
x & y # And

False

In [95]:
x^y # XOR

True

In [97]:
x|y # OR

True

In [126]:
l = [1,2,54,5,4]
l

[1, 2, 54, 5, 4]

In [101]:
l[0]

1

In [102]:
l[0:3]  # [0,3[

[1, 2, 54]

In [103]:
l[:3]

[1, 2, 54]

In [104]:
l[2:]

[54, 5, 4]

In [105]:
l[-1]

4

In [106]:
l[-2]

5

In [112]:
for i in range(3,len(l)):
    print(l[i])

5
4

In [109]:
l[3:7]

[5, 4]

In [114]:
l[:]

[1, 2, 54, 5, 4]

In [115]:
l

[1, 2, 54, 5, 4]

In [116]:
for item  in l:
    print(item)

1
2
54
5
4

In [117]:
for i in range(len(l)):
    print(l[i])

1
2
54
5
4

In [129]:
l.append(255)

In [130]:
l

[1, 2, 54, 5, 4, 255, 255]

In [123]:
l = l + [1,2,4,5,8,2,254]

In [124]:
l

[1, 2, 54, 5, 4, 255, 255, 1, 2, 4, 5, 8, 2, 254]

In [131]:
l = l + [255]

In [141]:
l

[68, 1, 2, 54, 5, 4, 255, 255, 0, 68, 68]

In [140]:
l.insert(8,0)
l

[68, 1, 2, 54, 5, 4, 255, 255, 0, 68, 68]

In [136]:
l[8]=68

In [144]:
l.remove(68)
l

[1, 2, 54, 5, 4, 255, 68, 68]

In [145]:
l.remove(max(l)) # by value
l

[1, 2, 54, 5, 4, 68, 68]

In [146]:
del l[0] # by index
l

[2, 54, 5, 4, 68, 68]

In [147]:
l.clear()
l

[]

In [148]:
list((1,2,4))

[1, 2, 4]

In [150]:
x = (1,2,3)
type(x)

tuple

In [151]:
x = list(x)
type(x)

list

In [157]:
x

[1, 2, 3]

In [159]:
x.reverse()

In [160]:
x

[3, 2, 1]

In [162]:
x.sort(reverse=True)
x

[3, 2, 1]

In [163]:
# [] for intialize the list and get items
# {} for sets and dictionaries
# () for tuples

In [165]:
x = (29,50) # geo-location
x

(29, 50)

In [166]:
x[0]

29

In [167]:
for i in x:
    print(i)

29
50

In [168]:
x = (50,70)
x

(50, 70)

In [169]:
x= list(x)
x[0]= 100
x = tuple(x)
x

(100, 70)

In [170]:
70 in x

True

In [171]:
len(x)

2

In [177]:
y = (50,70)
y

(50, 70)

In [174]:
del x

In [179]:
x = {1,5,4,87,1}
x

{1, 4, 5, 87}

In [203]:
x = ["Cairo","Alex","Cairo","Giza"]
x = set(x)
x

{'Alex', 'Cairo', 'Giza'}

In [184]:
"Ahmed" in "Ahmed Mohamed"

True

In [204]:
x.add("Luxor") # for single value
x

{'Alex', 'Cairo', 'Giza', 'Luxor'}

In [205]:
x.update(["Aswan","Minia"]) # for multi values
x

{'Alex', 'Aswan', 'Cairo', 'Giza', 'Luxor', 'Minia'}

In [195]:
len(x)

6

In [196]:
x.remove("Aswan")

In [197]:
x

{'Alex', 'Cairo', 'Giza', 'Luxor', 'Minia'}

In [198]:
x.discard("Minia")
x

{'Alex', 'Cairo', 'Giza', 'Luxor'}

In [207]:
y = x.pop() # to remove first element in the set 
y

'Aswan'

In [208]:
x

{'Alex', 'Cairo', 'Giza', 'Luxor', 'Minia'}

In [209]:
x.clear()

In [210]:
x

set()

In [216]:
x = {1,2,5}
y = {2,5,7,1}
x.difference(y)
y.difference(x)

{7}

In [217]:
x.intersection(y)

{1, 2, 5}

In [218]:
x.isdisjoint(y)

False

In [219]:
x.issubset(y)

True

In [221]:
y.issuperset(x)

True

In [222]:
x.union(y)

{1, 2, 5, 7}

In [245]:
d = {"name":"ahmed","age":25}
d

{'name': 'ahmed', 'age': 25}

In [224]:
d["name"]

'ahmed'

In [225]:
d.get("name")

'ahmed'

In [226]:
d["name"] = "Mohamed"
d

{'name': 'Mohamed', 'age': 25}

In [228]:
for i in d:
    print(d[i])

Mohamed
25

In [229]:
d.values()

dict_values(['Mohamed', 25])

In [230]:
d.keys()

dict_keys(['name', 'age'])

In [235]:
if "age" not in d:
    d['age'] = 30
d

{'name': 'Mohamed', 'age': 30}

In [233]:
del d['age']

In [234]:
d

{'name': 'Mohamed'}

In [236]:
len(d)

2

In [237]:
d

{'name': 'Mohamed', 'age': 30}

In [238]:
d["salary"] = 12000
d

{'name': 'Mohamed', 'age': 30, 'salary': 12000}

In [239]:
len(d)

3

In [242]:
d.setdefault('age',40) # check if key already exist and add if not
d

{'name': 'Mohamed', 'age': 30, 'salary': 12000}

In [244]:
del d

NameError: name 'd' is not defined

In [246]:
d.clear()

In [247]:
d

{}

In [248]:
x = 5
y = 4

In [250]:
if x<y:
    print("test")
elif x>y:
    print("test2")
else:
    print("test3")

In [252]:
if x>y: print("test2")

test2

In [253]:
print("test") if x>y else print("no")

test

In [2]:
x = 10
y = 5
while x>y:
    
    if x==7:
        x-=1
        continue
    print(x)
    x-=1

10
9
8
6

In [3]:
exp = 1000
income = 10000
profit = income-exp
profit

9000

In [35]:
def get_profit(x,y):
    return x-y

In [36]:
if get_profit(10000,1000) > get_profit(5000,500):
    print("2017 is good")
else:
    print("2016 is good")

2017 is good

In [31]:
profit = get_profit(income,exp)
profit

9000

In [17]:
def print_data(name,age,salary,gender="Male"):
    print("Welcome ",name," you are ",gender,"you are ",age," years old and you get ",salary," monthly")

In [14]:
name = input("Enter your name :")
age = input("Enter your age :")
salary = input("Enter your salary :")
print_data(name,age,salary)

Enter your name :Ahmed
Enter your age :25
Enter your salary :2900
Welcome  Ahmed  you are  25  years old and you get  2900  monthly

In [20]:
name = input("Enter your name :")
age = input("Enter your age :")
salary = input("Enter your salary :")
gender = input("Enter your gender:")

Enter your name :Ahmed
Enter your age :25
Enter your salary :1500
Enter your gender:

In [27]:
gender = 'Female'

In [28]:
if gender !='':
    print("not empty gender")
    print_data(name,age,salary,gender=gender)
else:
    print("empty gender")
    print_data(name,age,salary)

not empty gender
Welcome  Ahmed  you are  Female you are  25  years old and you get  1500  monthly

In [62]:
def summ(x,y):
    return x+y

In [63]:
z = summ(1,2)
z

3

In [64]:
z+3

6

In [75]:
text = "Hello world"
text

'Hello world'

In [67]:
l = ['H','e','l','l','o']
l

['H', 'e', 'l', 'l', 'o']

In [68]:
text[0]

'H'

In [69]:
l[0]

'H'

In [70]:
text is l

False

In [74]:
for i in range(len(text)):
    if text[i] != l[i]:
        print("Not equal")
        break

Not equal

In [76]:
text

'Hello world'

In [80]:
text[6:]

'world'

In [79]:
text.replace("world","Mohamed")

'Hello Mohamed'

In [82]:
text = " Hello world "
text

' Hello world '

In [83]:
text.strip()

'Hello world'

In [84]:
text.lower()

' hello world '

In [85]:
text.upper()

' HELLO WORLD '

In [86]:
text.split(' ')

['', 'Hello', 'world', '']

In [88]:
text.startswith(" ")

True

In [89]:
text.endswith(" ")

True

In [90]:
"world" in text

True

In [96]:
import datetime
datetime.datetime.now()

datetime.datetime(2018, 10, 27, 5, 6, 14, 769633)

In [102]:
created = datetime.datetime.now()

In [103]:
now = datetime.datetime.now()

In [105]:
(now.year - created.year) * 0.12 * 1000

0.0

In [106]:
now.year

2018

In [108]:
now.strftime("%a")

'Sat'

In [109]:
now.strftime("%A")

'Saturday'

In [110]:
now.strftime("%w")

'6'

In [111]:
now.strftime("%d")

'27'

In [112]:
now.strftime("%b")

'Oct'

In [113]:
now.strftime("%B")

'October'

In [115]:
x = datetime.datetime(1990,10,20)
x.strftime("%A")

'Saturday'

In [116]:
data = '{"name":"Ahmed","age":20}'
data

'{"name":"Ahmed","age":20}'

In [118]:
import json
data = json.loads(data)
data

{'name': 'Ahmed', 'age': 20}

In [119]:
data["name"]

'Ahmed'

In [120]:
data

{'name': 'Ahmed', 'age': 20}

In [121]:
json.dumps(data)

'{"name": "Ahmed", "age": 20}'

In [122]:
str(data)

"{'name': 'Ahmed', 'age': 20}"

In [123]:
annual = 1000000
monthly = annual/12
monthly

83333.33333333333

In [124]:
annual/0

ZeroDivisionError: division by zero

In [133]:
try:
    l = [0,1]
    l[5]
    #annual/0
    print("Done")
except Exception as e:
    print(e)
else:
    print("Other error")
finally:
    print("Good by")

list index out of range
Good by

In [126]:
l = [0,1]
l

[0, 1]

In [ ]:
# MODE  a w r x 
file = open(filename,mode)
file.read()
file.write()
file.close()

In [135]:
import os # operating system
os.remove("/home/cls/Desktop/file.csv")

In [137]:
os.path.exists('file.csv')

True

In [139]:
os.rmdir('test') #directory == folder

FileNotFoundError: [Errno 2] No such file or directory: 'test'